# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
myenv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS
.DS_Store
Thumbs.db

# FAISS & data
faiss_index_*/
*.faiss
*.pkl
*.pdf

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
