streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-text-splitters
sentence-transformers
faiss-cpu
pymupdf
python-dotenv
groq
huggingface-hub
watchdog
